MCQ - Multi choice Question

In [ ]:
1 What will be the output of the following code snippet?
def func(a, b):
    return b if a == 0 else func(b % a, a)
print(func(30, 75))
a) 10
b) 20
c) 15  ------  Correct
d) 0

In [1]:
def func(a,b):
    return b if a == 0 else func(b % a, a)
print(func(30,75))

15

In [ ]:
2 numbers = (4, 7, 19, 2, 89, 45, 72, 22)
sorted_numbers = sorted(numbers)
even = lambda a: a % 2 == 0
even_numbers = filter(even, sorted_numbers)
print(type(even_numbers))
a) Int
b) Filter -------- Correct
c) List 
d) Tuple

In [2]:
number = (4,7,19,2,89,45,72,22)
sorted_numbers = sorted(number)

In [6]:
even = lambda a: a % 2 == 0
even_numbers = filter(even, sorted_numbers)

In [7]:
print(type(even_numbers))

<class 'filter'>

In [ ]:
3) As what datatype are the *args stored, when passed into
a) Tuple ---------------- Correct
b) List 
c) Dictionary 
d) none

In [ ]:
Ans - a) Tuple

In [ ]:
4) set1 = {14, 3, 55}
set2 = {82, 49, 62}
set3={99,22,17}
print(len(set1 + set2 + set3))
a) 105
b) 270
c) 0
d) Error ------- Correct

In [11]:
set1 = {14,3,55}
set2 = {82,49,62}
set3 = {99,22,17}

In [12]:
print(len(set1+set2+set3))

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [ ]:
5) What keyword is used in Python to raise exceptions?
a) raise ----------------- Correct
b) try 
c) goto 
d) except

In [ ]:
Ans - a) raise

In [ ]:
6) Which of the following modules need to be imported to handle date time computations in 
Python?
a) timedate
b) date
c) datetime ------ Correct
d) time

In [ ]:
Ans - c) import datetime

In [ ]:
7) What will be the output of the following code snippet?
print(4**3 + (7 + 5)**(1 + 1))
a) 248
b) 169
c) 208  -------- Correct
d) 233

In [13]:
print(4**3 + (7 +5) **(1+1))

208

In [ ]:
8) Which of the following functions converts date to corresponding time in Python?
a) strptime
b) strftime ---------------------- Correct
c) both a) and b)
d) None

In [ ]:
Ans - a) strptime

In [ ]:
9) The python tuple is _____ in nature.
a) mutable
b) immutable ----------------------- Correct
c)unchangeable
d) none

In [ ]:
Ans - b) immutable

In [ ]:
10)
The ___ is a built-in function that returns a range object that consists series of integer numbers, which 
we can iterate using a for loop.
A. range() ----------------------------- Correct
B. set()
C. dictionary{}
D. None of the mentioned above

In [ ]:
Ans - A) range()

In [ ]:
Question 11
Amongst which of the following is a function which does not have any name?
A. Del function
B. Show function
C. Lambda function -------------------- Correct
D. None of the mentioned above

In [ ]:
Ans - c) Lambda function is a no-name function declared in a single line. It can have only one expression and is used when a 
short-term function is required

In [ ]:
Question 12
The module Pickle is used to ___.
A. Serializing Python object structure
B. De-serializing Python object structure
C. Both A and B --------------------------------------- Correct
D. None of the mentioned above

In [ ]:
Ans - C) Both A and B

In [ ]:
Question 13
Amongst which of the following is / are the method of convert Python objects for writing data in 
a binary file?
A. set() method
B. dump() method ----------------------------- Correct
C. load() method
D. None of the mentioned above

In [ ]:
Ans - B) dump() method.

In [ ]:
14
Amongst which of the following is / are the method used to unpickling data from a binary file?
A. load() ----------------------------- Correct
B. set() method
C. dump() method
D. None of the mentioned above

In [ ]:
Ans - A) load()

In [ ]:
15.
A text file contains only textual information consisting of ___.
A. Alphabets
B. Numbers
C. Special symbols
D. All of the mentioned above ----------------------- Correct

In [ ]:
Ans - D) All of the mentioned above.

In [ ]:
16 
Which Python code could replace the ellipsis (...) below to get the following output? (Select all that 
apply.)
captains = {
 "Enterprise": "Picard",
 "Voyager": "Janeway",
 "Defiant": "Sisko",
}
Enterprise Picard,
 Voyager Janeway
 Defiant Sisko
a) for ship, captain in captains.items():
 print(ship, captain)
b) for ship in captains:
 print(ship, captains[ship])
c) for ship in captains:
 print(ship, captains) 
d) both a and b ------------------  Correct

In [14]:
captains = { "Enterprise": "Picard", "Voyager": "Janeway",  "Defiant": "Siskpo"}

In [15]:
a) for ship, captain in captains.items():
    print(ship, captain)

Enterprise Picard
Voyager Janeway
Defiant Siskpo

In [17]:
b) for ship in captains:
    print(ship, captains[ship])

Enterprise Picard
Voyager Janeway
Defiant Siskpo

In [20]:
for ship in captains:
    print(ship, captains)

Enterprise {'Enterprise': 'Picard', 'Voyager': 'Janeway', 'Defiant': 'Siskpo'}
Voyager {'Enterprise': 'Picard', 'Voyager': 'Janeway', 'Defiant': 'Siskpo'}
Defiant {'Enterprise': 'Picard', 'Voyager': 'Janeway', 'Defiant': 'Siskpo'}

In [ ]:
Ans - d) both a and b

In [ ]:
17)
Which of the following lines of code will create an empty dictionary named captains?
a) captains = {dict}
b) type(captains)
c) captains.dict()
d) captains = {} ------------------------ Correct

In [ ]:
Ans - d) captains = {}

In [ ]:
18) Now you have your empty dictionary named captains. It’s time to add some data!
Specifically, you want to add the key-value pairs "Enterprise": "Picard", "Voyager": "Janeway", 
and "Defiant": "Sisko".
Which of the following code snippets will successfully add these key-value pairs to the 
existing captains dictionary?
a) captains{"Enterprise" = "Picard"}
captains{"Voyager" = "Janeway"}
captains{"Defiant" = "Sisko"}
b) captains["Enterprise"] = "Picard"
captains["Voyager"] = "Janeway"
captains["Defiant"] = "Sisko"
c) captains = {
 "Enterprise": "Picard",
 "Voyager": "Janeway",   -------------------------------------   Correct
 "Defiant": "Sisko",
}
d) None of the above

In [23]:
captains = {}

In [25]:
captains = {"Enterprise": "Picard","Voyager": "Janeway", "Defiant": "Sisko"}

In [26]:
captains

{'Enterprise': 'Picard', 'Voyager': 'Janeway', 'Defiant': 'Sisko'}

In [ ]:
19 ) You’re really building out the Federation Starfleet now! Here’s what you have:
captains = {
 "Enterprise": "Picard",
 "Voyager": "Janeway",
 "Defiant": "Sisko",
 "Discovery": "unknown",
}Now, say you want to display the ship and captain names contained in the dictionary, but you also 
want to provide some additional context. How could you do it?
a) for item in captains.items():
 print(f"The [ship] is captained by [captain].")
b) for ship, captain in captains.items():
 print(f"The {ship} is captained by {captain}.")
c) for captain, ship in captains.items():
 print(f"The {ship} is captained by {captain}.")
d) All are correct  -------------------------------------------- Correct

In [27]:
captains = {"Enterprise": "Picard","Voyager": "Janeway", "Defiant": "Sisko", "Discovery": "unknown"}

In [29]:
# add some additional context ..

a) for item in captains.items():
    print(f"The [Ship] is captained by [captain].")

The [Ship] is captained by [captain].
The [Ship] is captained by [captain].
The [Ship] is captained by [captain].
The [Ship] is captained by [captain].

In [34]:
for ship, captain in captains.items():
    print(f"The {ship} is captained by {captain}.")

The Enterprise is captained by Picard.
The Voyager is captained by Janeway.
The Defiant is captained by Sisko.
The Discovery is captained by unknown.

In [35]:
for captain, ship in captains.items():
    print(f"The {ship} is captained by {captain}.")

The Picard is captained by Enterprise.
The Janeway is captained by Voyager.
The Sisko is captained by Defiant.
The unknown is captained by Discovery.

In [ ]:
Ans - d) All is correct.

In [ ]:
20 ) 
You’ve created a dictionary, added data, checked for the existence of keys, and iterated over it with 
a for loop. Now you’re ready to delete a key from this dictionary:
captains = {
 "Enterprise": "Picard",
 "Voyager": "Janeway",
 "Defiant": "Sisko",
 "Discovery": "unknown",
}
What statement will remove the entry for the key "Discovery"?
a) del captains
b) captains.remove()
c) del captains["Discovery"] ----------------------------- Correct
d) captains["Discovery"].pop()

In [37]:
captains = { "Enterprise": "Picard", "Voyager": "Janeway", "Defiant": "Sisko", "Discovery": "unknown"}

In [41]:
del captains["Discovery"]

In [42]:
captains

{'Enterprise': 'Picard', 'Voyager': 'Janeway', 'Defiant': 'Sisko'}