1. Web-SCraping for Data Analyst

In [1]:
!pip install selenium

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: selenium in c:\users\kumar\appdata\roaming\python\python39\site-packages (4.7.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\kumar\appdata\roaming\python\python39\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\kumar\appdata\roaming\python\python39\site-packages (from selenium) (0.22.0)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\kumar\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.0.4)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\kumar\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: outcome in c:\users\kumar\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: wsproto>=0.14 in c:\users\kumar\appdata\roaming\python\python39\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\kumar\appdata\roaming\python\python39\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [3]:
# Connect to webdriver...

driver = webdriver.Chrome(r"C\\Users\kumar\Downloads\chromedriver.exe")

In [4]:
# opening the naukri page on automated chrome browser...

driver.get("https://www.naukri.com/")

In [5]:
# entering Designation and Location as required...

designation = driver.find_element(By.CLASS_NAME, "suggestor-input ")
designation.send_keys('Data Analyst')

In [6]:
location = driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [7]:
search = driver.find_element(By.CLASS_NAME, "qsbSubmit")
search.click()

In [8]:
job_title = []
job_location = []
company_name = []
experience_required = []

In [9]:
# scraping job title from the given page ...

title_tags = driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title = i.text
    job_title.append(title)
    
    
# scraping job location from the given page...

location_tags = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location = i.text
    job_location.append(location)
    
    
# scraping company name from the given page...

company_tags = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company = i.text
    company_name.append(company)
    
    
    
# scraping job experience from the given page....

experience_tags = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in experience_tags[0:10]:
    experience = i.text
    experience_required.append(experience)

In [10]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [11]:
# Making Data Frame...

df = pd.DataFrame({'Job_title': job_title,'Job_location': job_location, 'Company_name': company_name,'Exp_Required': experience_required})
df

,Job_title,Job_location,Company_name,Exp_Required
0,Data Analyst,Bangalore/Bengaluru,Shell Pvt Ltd,2-5 Yrs
1,Data Analyst,Bangalore/Bengaluru,Shell Pvt Ltd,3-5 Yrs
2,Data Analyst,Bangalore/Bengaluru,Shell Pvt Ltd,2-5 Yrs
3,Senior Data Analyst II,Bangalore/Bengaluru,Flipkart,2-4 Yrs
4,Project Data Analyst,Bangalore/Bengaluru,WSP,0-4 Yrs
5,"Data Analyst, Business Analyst",Bangalore/Bengaluru(HSR Layout +1),Clinilaunch Research Institute Llp,0-5 Yrs
6,Data Analyst,Temp. WFH - Bangalore/Bengaluru,Treebo Hotels,1-5 Yrs
7,Executive - Data Analyst,Bangalore/Bengaluru,Flipkart,1-5 Yrs
8,Data Analyst,Bangalore/Bengaluru,Cargill,2-4 Yrs
9,Data Analyst,Bangalore/Bengaluru,Eli Lilly And Company,2-6 Yrs

2. Web-Scraping of Data Scientist

In [5]:
# entering designation and locations are required...
designation = driver.find_element(By.CLASS_NAME, "suggestor-input ")
designation.send_keys('Data Scientist')

In [6]:
location = driver.find_element(By.XPATH, "/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [7]:
search = driver.find_element(By.CLASS_NAME, "qsbSubmit")
search.click()

In [10]:
job_title = []
job_location = []
company_name = []
experience_required = []

In [11]:
# scraping job title from the page...

title_tags = driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title = i.text
    job_title.append(title)
    
    
    
# scraping job location from the given page....

location_tags = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location = i.text
    job_location.append(location)
    
    
    
# scraping company name from the given page....

company_tags = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company = i.text
    company_name.append(company)
    
    
    
# scraping Experience required from the given page....

experience_tags = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in experience_tags[0:10]:
    experience = i.text
    experience_required.append(experience)

In [12]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [14]:
# Making DataFrame...

df = pd.DataFrame({'Job_title': job_title,'Job_location': job_location, 'Company_name': company_name,'Exp_Required': experience_required})
df

,Job_title,Job_location,Company_name,Exp_Required
0,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,6-8 Yrs
1,Data Scientist,"Bangalore/Bengaluru, New Delhi, Hyderabad/Secu...",Tata Nexarc,4-8 Yrs
2,Data Scientist,"Bangalore/Bengaluru, Nagpur, Pune",Tech Mahindra,5-8 Yrs
3,Weather and Climate Data Scientist,Bangalore/Bengaluru,Shell Pvt Ltd,5-12 Yrs
4,Data Scientist,"Hybrid - Bangalore/Bengaluru, Noida, Kolkata, ...",Mindtree,5-10 Yrs
5,Data Scientist - II,"Bangalore/Bengaluru, India, Mumbai (All Areas)",Bizongo,3-6 Yrs
6,Senior Data Scientist,"Bangalore/Bengaluru, Mumbai",Baker Hughes,6-8 Yrs
7,Manager-Data Science,Bangalore/Bengaluru,AMERICAN EXPRESS,3-4 Yrs
8,ACN - Applied Intelligence - Data Scientist - 09,Bangalore/Bengaluru,Accenture,2-6 Yrs
9,Python Programming Language Data Science Pract...,Bangalore/Bengaluru,Accenture,4-6 Yrs

3. Web Scraping using the filter availble on this page

In [5]:
#  Entering designation and location are required. 
designation = driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Scientist')

In [6]:
location = driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Delhi/NCR')

In [7]:
search = driver.find_element(By.CLASS_NAME, "qsbSubmit")
search.click()

In [8]:
job_title = []
job_location = []
company_name = []
experience_required = []

In [9]:
# scrap job_title from the given page..

title_tags = driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title = i.text
    job_title.append(title)

    
    
# scrap job_location from the given page...

location_tags = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location = i.text
    job_location.append(location)
    
    
# scrap company_name from the given page...

company_tags = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company = i.text
    company_name.append(company)
    
    
# scrap experience_required from the given page...

experience_tags = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in experience_tags[0:10]:
    experience = i.text
    experience_required.append(experience)

In [10]:
# Making Data Frame---

df = pd.DataFrame({'Job_title': job_title,'Job_location': job_location, 'Company_name': company_name,'Exp_Required': experience_required})
df

,Job_title,Job_location,Company_name,Exp_required
0,Artificial Intelligence/Computer Vision Engine...,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Vicara,1-3 Yrs
1,Data Activation Specialist - Adobe Target,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Okda Solutions,7-10 Yrs
2,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Primo Hiring,1-3 Yrs
3,Data Scientist,Temp. WFH - Noida,NGI Ventures,1-5 Yrs
4,Opening For Jr. Data Scientist with Tatras Dat...,Delhi / NCR,Tatras Data Services,2-4 Yrs
5,Data Scientist,"Dehradun, Hyderabad/Secunderabad, Gurgaon/Guru...",torcai digital media,2-7 Yrs
6,Data Scientist,Gurgaon/Gurugram,Americana Restaurants (india),3-8 Yrs
7,URGENT: Data Scientist | Gurugram | 5 Days Wor...,Gurgaon/Gurugram,Digilytics,2-5 Yrs
8,Data Scientist,Noida,Alliance Recruitment Agency,3-4 Yrs
9,SE/SSE-Data Scientist,Delhi / NCR,Bold Technology Systems,3-8 Yrs

4. Scraping first 100 sunglasses.

In [6]:
# opening the flipkart page on automated chrome browser...

driver.get("https://www.flipkart.com/")

In [9]:
# enterning serch for product and brand more...

product = driver.find_element(By.CLASS_NAME,"_3704LK")
product.send_keys('sunglasses')

In [14]:
search = driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [35]:
brand_title = []
product_discription = []
product_price = []

In [36]:
# scrap brand from the given page...

title_tags = driver.find_elements(By.XPATH, '//div[@class="_2WkVRV"]')
for i in title_tags[0:100]:
    title = i.text
    brand_title.append(title)
    
    
# scrap product_discription from the given page...

discription_tags = driver.find_elements(By.XPATH, '//div[@class="_3Ay6Sb"]')
for i in discription_tags[0:100]:
    discription = i.text
    product_discription.append(discription)
    
    
# scrap sunglaces price from the given page...

price_tags = driver.find_elements(By.XPATH, '//div[@class="_30jeq3"] ')
for i in price_tags[0:100]:
    price = i.text
    product_price.append(price)

In [37]:
df = pd.DataFrame({'Brand_name': brand_title,'Product_discription': product_discription, 'Product_price': product_price})
df

           Brand_name Product_discription Product_price
0       VINCENT CHASE             59% off          ₹806
1       VINCENT CHASE             57% off          ₹849
2           Elligator             75% off          ₹149
3          PHENOMENAL             87% off          ₹129
4          LIZA ANGEL             87% off          ₹129
5            Fastrack             30% off          ₹699
6            Fastrack             30% off          ₹629
7      ROZZETTA CRAFT             80% off          ₹398
8            Fastrack             37% off          ₹499
9   SHAAH COLLECTIONS             90% off          ₹159
10     ROZZETTA CRAFT             75% off          ₹497
11     ROZZETTA CRAFT             80% off          ₹398
12           Fastrack             30% off          ₹909
13           Fastrack             35% off          ₹579
14           Fastrack             30% off          ₹559
15         LIZA ANGEL             87% off          ₹129
16     ROZZETTA CRAFT             75% off          ₹497
17      VINCENT CHASE             52% off          ₹949
18           Fastrack             20% off          ₹719
19          Elligator             87% off          ₹129
20     ROZZETTA CRAFT             75% off          ₹616
21              NuVew             84% off          ₹117
22               SRPM             88% off          ₹149
23           Fastrack             35% off          ₹649
24      VINCENT CHASE             66% off          ₹664
25          Elligator             85% off          ₹149
26             GANSTA             85% off          ₹299
27      VINCENT CHASE             71% off          ₹701
28          New Specs             90% off          ₹259
29           Fastrack             35% off          ₹519
30      VINCENT CHASE             52% off          ₹949
31          ROYAL SON             66% off          ₹664
32             PIRASO             88% off          ₹188
33          Elligator             88% off          ₹286
34             Sewell             81% off          ₹280
35               SRPM             82% off          ₹179
36      VINCENT CHASE             66% off          ₹664
37     ROZZETTA CRAFT             74% off          ₹649
38         LIZA ANGEL             74% off          ₹129
39             SUNBEE             85% off          ₹149

5. web-Scraping review data from flipkart

In [5]:
# opening the flipkart page on automated chrome browser...

driver.get("https://www.flipkart.com/")

In [6]:
# entering serch for product name and brnad name...

product = driver.find_element(By.CLASS_NAME,'_3704LK')
product.send_keys('iphone11')

In [7]:
search = driver.find_element(By.CLASS_NAME,'L0Z3Pu')
search.click()

In [9]:
product_rating = []
review_summary = []
full_review = []

In [15]:
# Scrap rating from the given page...

rating_tags = driver.find_elements(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[2]/div/div/div/a/div[2]/div[1]/div[2]/span[1]')
for i in rating_tags[0:100]:
    rating = i.text
    product_rating.append(rating)

In [16]:
summary_tags = driver.find_elements(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[2]/div/div/div/a/div[2]/div[1]/div[3]/ul')
for i in summary_tags[0:100]:
    summary = i.text
    review_summary.append(summary)

In [17]:
review_tags = driver.find_elements(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[2]/div/div/div/a/div[2]/div[1]/div[2]')
for i in review_tags[0:100]:
    review = i.text
    full_review.append(review)

In [18]:
#Making DataFrame...

df = pd.DataFrame({'Product_rating': product_rating, 'Review_summary': review_summary, 'Full_review': full_review})
df

ValueError: All arrays must be of the same length

6. Web-Scraping  sneekers from flipkart

In [19]:
# opening the flipkart page on automated chrome browser...

driver.get("https://www.flipkart.com/")

In [20]:
product = driver.find_element(By.CLASS_NAME,'_3704LK')
product.send_keys('sneakers')

In [21]:
search = driver.find_element(By.CLASS_NAME,'L0Z3Pu')
search.click()

In [25]:
brand_title = []
product_discription = []
product_price = []

In [26]:
# scrap brand name for the given page..

title_tags = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in title_tags[0:100]:
    title = i.text
    brand_title.append(title)
    
# scrap discription for the given page....

discription_tags = driver.find_elements(By.XPATH,'//div[@class="_2B099V"]')
for i in discription_tags[0:100]:
    discription = i.text
    product_discription.append(discription)
    
    
# scrap price for the given page....

price_tags = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tags[0:100]:
    price = i.text
    product_price.append(price)

In [27]:
# Making DataFrame...
df = pd.DataFrame({'Brand_name': brand_title,'Product_discription': product_discription, 'Product_price': product_price})
df

,Brand_name,Product_discription,Product_price
0,Deals4you,"Deals4you\nSneakers For Women\n₹299₹1,49980% o...",₹299
1,FOOBON,FOOBON\nSneakers For Men\n₹299₹99970% off\nSiz...,₹299
2,Labbin,Labbin\nSneakers For Men\n₹399₹99960% off\nHot...,₹399
3,Bond Street By Red Tape,"Bond Street By Red Tape\nSneakers For Men\n₹1,...","₹1,274"
4,Shozie,Shozie\nSneakers For Men\n₹295₹99970% off\nSiz...,₹295
5,Bond Street By Red Tape,"Bond Street By Red Tape\nSneakers For Men\n₹1,...","₹1,274"
6,Shozie,Shozie\nSneakers For Men\n₹399₹99960% off\nLow...,₹399
7,kardam&sons,kardam&sons\nFashionable Luxury Canvas Casual ...,₹449
8,Bond Street By Red Tape,"Bond Street By Red Tape\nSneakers For Men\n₹1,...","₹1,274"
9,aadi,aadi\nMesh | Ultralightweight | Comfortable | ...,₹359
10,kardam&sons,kardam&sons\nCanvas Casual Partywear Outdoor S...,₹499
11,edisson,edisson\nCasual Sneakers Black Outdoor Shoes F...,₹559
12,SFR,SFR\nFAST Trenddy Tainer Lace-ups Sporty Casua...,₹299
13,BRUTON,BRUTON\nExclusive Sneaker Shoes Sneakers For M...,₹299
14,BRUTON,BRUTON\nLightweight Pack Of 1 Trendy Sneakers ...,₹249
15,World Wear Footwear,World Wear Footwear\nLatest Exclusive Affordab...,₹259
16,edisson,edisson\n001-Original Luxury Branded Fashionab...,₹559
17,kardam&sons,kardam&sons\nCanvas Casual Partywear Outdoor S...,₹449
18,SFR,SFR\nPLANCK Smart Grey Lace-Ups Casuals Sneake...,₹209
19,Deals4you,Deals4you\nSneakers For Women\n₹449₹99955% off...,₹449
20,Roadster,Roadster\nMen Blue Solid Sneakers Sneakers For...,₹999
21,BOLLERO,BOLLERO\nTrendy Sporty Shoes For Mens Sneakers...,₹699
22,BRUTON,BRUTON\nLattest Sneakers Shoe Sneakers For Men...,₹279
23,ASTEROID,ASTEROID\nColorblock men's fancy sneakers Kore...,₹494
24,SFR,SFR\nPLANCK Smart Red Lace-Ups Casuals Sneaker...,₹209
25,aadi,aadi\nSynthetic| Lightweight| Premiun| Comfort...,₹399
26,Numenzo,"Numenzo\nSneakers For Men\n₹449₹1,04557% off\n...",₹449
27,JAMARION,JAMARION\nModern Trendy Sneakers Shoes Sneaker...,₹499
28,Bond Street By Red Tape,"Bond Street By Red Tape\nSneakers For Men\n₹1,...","₹1,274"
29,SFR,SFR\nSneakers For Men\n₹269₹99973% off\nFree d...,₹269
30,edisson,edisson\nCasual Sneakers Canvas Shoes For Men ...,₹549
31,kardam&sons,kardam&sons\nCanvas Casual Partywear Outdoor S...,₹413
32,World Wear Footwear,World Wear Footwear\nExclusive Affordable Coll...,₹259
33,Labbin,Labbin\nSneakers For Men\n₹399₹99960% off\nFre...,₹399
34,SFR,SFR\nPLANCK Smart Blue Lace-Ups Casuals Sneake...,₹209
35,Robbie jones,"Robbie jones\nSneakers For Men\n₹439₹1,02257% ...",₹439
36,kardam&sons,kardam&sons\nCanvas Casual Partywear Outdoor S...,₹449
37,kardam&sons,kardam&sons\nCanvas Casual Partywear Outdoor S...,₹449
38,Kraasa,"Kraasa\nCasuals, Canvas, Partywear Sneakers Fo...",₹499
39,RED TAPE,"RED TAPE\nSneakers For Men\n₹1,749₹4,99965% of...","₹1,749"

7. Web- Scraping Laptop from amazon.

In [4]:
# opening the amazon page automated on chrome browser...

driver.get("https://www.amazon.in/")

In [14]:
title = []
rating = []
price = []

In [15]:
# scarp the title from the given page..

laptop_tags = driver.find_elements(By.XPATH,'//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')
for i in laptop_tags[0:10]:
    laptop = i.text
    title.append(laptop)
    
# scrap the rating from the given page...

star_tags = driver.find_elements(By.XPATH,'//span[@class="a-size-base"]')
for i in star_tags[0:10]:
    star = i.text
    rating.append(star)
    
# scrap the price from the given page...

rate_tags = driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in rate_tags[0:10]:
    rate = i.text
    price.append(rate)

In [16]:
# Making DataFrame..

df = pd.DataFrame({'Title_name': title, 'Rating': rating, 'Price': price})
df

                                          Title_name Rating   Price
0  Lenovo IdeaPad Slim 5 12th Gen Intel Core i7 1...    4.3  82,990
1  HP Victus Gaming Latest 12th Gen Intel Core i7...    4.3  81,990
2  HP Pavilion Plus, 12th Gen Intel Core i7 16GB ...    4.0  95,046
3
4
5
6
7
8
9

8. Web- Scraping the Quotes

In [17]:
# opening the quotes page automated on chrome browser...

driver.get("https://www.azquotes.com/")

In [19]:
author = []
quotes = []
types_of_quotes = []

In [26]:
# scrap author from the given page..

name_tags = driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in name_tags:
    name = i.text
    author.append(name)
    
# scrap quotes from the given page...

topic_tags = driver.find_elements(By.XPATH,'//div[@class="wrap-block"]')
for i in topic_tags:
    topic = i.text
    quotes.append(topic)
    
    
# scrap types of quotes from the given page...

title_tags = driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in title_tags:
    title = i.text
    types_of_quotes.append(title)

In [31]:
# Making DataFrame....

df = pd.DataFrame({'Author': author, 'Quotes': quotes, 'Title': types_of_quotes})
df

ValueError: All arrays must be of the same length