# WEB SCRAPING - Assignment 1

1. Web Scraping using BeautifulSoup from Wikipedia

In [1]:
# install BeautifulSoup and requests...

!pip install bs4
!pip install requests

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: bs4 in c:\users\kumar\appdata\roaming\python\python39\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\programdata\anaconda3\lib\site-packages (from bs4) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\programdata\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.3.1)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (2.28.1)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests) (2022.9.14)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\programdata\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests) (1.26.11)

Import Required Libraries

In [2]:
# importing required libraries...

from bs4 import BeautifulSoup
import requests

Send get request to the webpage server to get the source code of the page

In [3]:
# send get request to the webpage server.... to get source code of the page..

page = requests.get('https://en.wikipedia.org/wiki/Main_Page')

Page Content

In [4]:
# Pgae Content

soup = BeautifulSoup(page.content)

Scraping the Header Tag from Wikipidia

In [5]:
# first,we will use the html tag for the result...

wiki = soup.find('span',class_="mw-headline")

In [6]:
# multiple header tag...

wiki = []  # empty list
for i in soup.find_all('span',class_="mw-headline"):
    wiki.append(i.text)
    
wiki

['Welcome to Wikipedia',
 "From today's featured article",
 'Did you know\xa0...',
 'In the news',
 'On this day',
 "Today's featured picture",
 'Other areas of Wikipedia',
 "Wikipedia's sister projects",
 'Wikipedia languages']

2. Web Scraping using BeutifulSoup IMDB top 100 Movies

Send get request to the webpage server to get the source code of the page

In [7]:
page = requests.get('https://www.imdb.com/search/title/?count=100&groups=top_1000&sort=user_rating')

Page content

In [8]:
soup2 = BeautifulSoup(page.content)

Scraping the Name,Rating,Year

In [9]:
name = []

for i in soup2.find_all('h3',class_ = "lister-item-header"):
    name.append(i.text.replace('\n','').split('.')[1])

In [10]:
# scraping the movie rating....

rating = []
for i in soup2.find_all('div',class_ = "inline-block ratings-imdb-rating"):
    rating.append(i.text.replace('\n',''))

In [11]:
# scraping the Movie year....

year = []
for i in soup2.find_all('span',class_ = "lister-item-year text-muted unbold"):
    year.append(i.text.replace('\n',''))

Making DataFrame

In [12]:
# making dataframe.....

import pandas as pd
df = pd.DataFrame({'Name of movie': name,'Movie rating': rating,'Year of release': year})
df

,Name of movie,Movie rating,Year of release
0,The Shawshank Redemption(1994),9.3,(1994)
1,The Godfather(1972),9.2,(1972)
2,The Dark Knight(2008),9.0,(2008)
3,The Lord of the Rings: The Return of the King(...,9.0,(2003)
4,Schindler's List(1993),9.0,(1993)
...,...,...,...
95,Witness for the Prosecution(1957),8.4,(1957)
96,Paths of Glory(1957),8.4,(1957)
97,Sunset Blvd,8.4,(1950)
98,The Great Dictator(1940),8.4,(1940)
99,Chhichhore(2019),8.3,(2019)

3. Web Scraping using BeutifulSoup IMDB top 100 Indian Movies

Send get request to the webpage server to get source code of the page

In [13]:
page = requests.get('https://www.imdb.com/list/ls009997493/')

Page content

In [14]:
soup3 = BeautifulSoup(page.content)

Scraping the Name, Rating, Year

In [15]:
name = []
for i in soup3.find_all('h3', class_ ="lister-item-header"):
    name.append(i.text.replace('\n','').split('.')[1])

In [16]:
# Scraping the movie rating....

rating = []
for i in soup3.find_all('div',class_ ="ipl-rating-star small"):
    rating.append(i.text.replace('\n',''))

In [17]:
# Scraping the Movie year.....

year = []
for i in soup3.find_all('span', class_ ="lister-item-year text-muted unbold"):
    year.append(i.text.replace('\n',''))

Making DataFrame

In [18]:
# Making DataFrame

import pandas as pd
df=pd.DataFrame({'Name of Movie': name,'Movie Rating': rating,'Year of release': year})
df

                   Name of Movie Movie Rating Year of release
0          Rang De Basanti(2006)          8.1          (2006)
1                 3 Idiots(2009)          8.4          (2009)
2         Taare Zameen Par(2007)          8.4          (2007)
3           Dil Chahta Hai(2001)          8.1          (2001)
4   Swades: We, the People(2004)          8.2          (2004)
..                           ...          ...             ...
95             Wake Up Sid(2009)          7.6          (2009)
96                Rangeela(1995)          7.4          (1995)
97     Shatranj Ke Khilari(1977)          7.5          (1977)
98      Pyaar Ka Punchnama(2011)          7.6          (2011)
99           Ek Hasina Thi(2004)          7.5          (2004)

[100 rows x 3 columns]

4. Web Scraping using BeautifulSoup list of respected former President of India

Send get request to the Webpage server to get the source code of the page

In [19]:
page = requests.get('https://presidentofindia.nic.in/former-presidents.htm')

Page content

In [20]:
soup4 = BeautifulSoup(page.content)

Scraping the Name and Terms of office former president of India

In [21]:
# Scraping the Name of former president of India....

name = []
for i in soup4.find_all('div',class_ ="presidentListing"):
    name.append(i.find('h3').text.split('(')[0])

In [22]:
# Scraping the Term of office...

office = []
for i in soup4.find_all('div',class_ ="presidentListing"):
    office.append(i.find('p').text.split('(')[0])

Mkaing Dataframe

In [23]:
# Making DataFrame

import pandas as pd
df = pd.DataFrame({'President Name': name, 'Term of Office': office})
df

,President Name,Term of Office
0,Shri Ram Nath Kovind,"Term of Office: 25 July, 2017 to 25 July, 2022"
1,Shri Pranab Mukherjee,"Term of Office: 25 July, 2012 to 25 July, 2017"
2,Smt Pratibha Devisingh Patil,"Term of Office: 25 July, 2007 to 25 July, 2012"
3,DR. A.P.J. Abdul Kalam,"Term of Office: 25 July, 2002 to 25 July, 2007"
4,Shri K. R. Narayanan,"Term of Office: 25 July, 1997 to 25 July, 2002"
5,Dr Shankar Dayal Sharma,"Term of Office: 25 July, 1992 to 25 July, 1997"
6,Shri R Venkataraman,"Term of Office: 25 July, 1987 to 25 July, 1992"
7,Giani Zail Singh,"Term of Office: 25 July, 1982 to 25 July, 1987"
8,Shri Neelam Sanjiva Reddy,"Term of Office: 25 July, 1977 to 25 July, 1982"
9,Dr. Fakhruddin Ali Ahmed,"Term of Office: 24 August, 1974 to 11 February..."
10,Shri Varahagiri Venkata Giri,"Term of Office: 3 May, 1969 to 20 July, 1969 a..."
11,Dr. Zakir Husain,"Term of Office: 13 May, 1967 to 3 May, 1969"
12,Dr. Sarvepalli Radhakrishnan,"Term of Office: 13 May, 1962 to 13 May, 1967"
13,Dr. Rajendra Prasad,"Term of Office: 26 January, 1950 to 13 May, 1962"

5. Web Scrapping using BeutifulSoup Cricket Ranking

Send get request to the Webpage Server to get the source code of the page

In [24]:
page = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/test')

Page Content

In [25]:
# Page content...

soup5 = BeautifulSoup(page.content)

Scraping the top 10 cricket teams along with matches,points,rating

In [26]:
# Scrap Team Name..

team = []
for i in soup5.find_all('span', class_ ="u-hide-phablet"):
    team.append(i.text)
    
team

[]

In [27]:
# scrap team matches...

matches = []

for i in soup5.find_all('td', class_ ="rankings-block__banner--matches"):
    matches.append(i.text.replace('\n', ""))
    
for i in soup5.find_all('td',class_ ="table-body__cell u-center-text"):
    matches.append(i.text)

In [28]:
matches

[]

In [29]:
# scrap team points....

points = []

for i in soup5.find_all('td',class_ = "rankings-block__banner--points"):
    points.append(i.text.replace('\n',""))
    
for i in soup5.find_all('td', class_ = "table-body__cell u-center-text"):
    points.append(i.text)

In [30]:
points

[]

In [31]:
# scrap team rating..

ratings= []

for i in soup5.find_all('td',class_ = "rankings-block__banner--rating u-text-right"):
    ratings.append(i.text.replace('\n',""))
    
for i in soup5.find_all('td',class_ ="table-body__cell u-text-right rating"):
    ratings.append(i.text)

7. Web- Scraping for News details

Send get request to the webpage server to get the source of the page

In [34]:
page = requests.get('https://www.cnbc.com/world/?region=world')

Page content

In [35]:
# page content..

soup7 = BeautifulSoup(page.content)

In [36]:
# Scraping the News headlines...

news = []

for i in soup7.find_all('div', class_ = "RiverHeadline-headline RiverHeadline-hasThumbnail"):
    news.append(i.text)

In [37]:
news

['Celsius clients with collateral stuck on failed crypto platform turn to bankruptcy court for relief',
 "Asset manager names 9 'cheap' stocks to buy as recession fears grow",
 'Startup backed by a Tesla investor says it can deliver a $300,000 flying car by 2025',
 "Amazon's cloud unit faces cost-sensitive customers as economic fears mount",
 "Op-ed: Authoritarian rulers suffered new setbacks in 2022. Here's what the democratic world needs to do to seize the momentum",
 'Beijing, Shenzhen loosen more Covid curbs as China easing gathers pace',
 'Big Tech is set for a comeback, asset manager says, naming 2 stocks to get ahead of it',
 'These 10 cars have the greatest potential lifespan — and 6 are Toyotas',
 'Chinese F1 Grand Prix canceled for 2023',
 'The 10 countries with the least paid vacation—the U.S. is No. 2',
 "35% of millionaires say it's 'going to take a miracle' to be ready for retirement, report finds",
 'Indonesia evacuates villagers as volcano erupts on Java island',
 'Netherlands eliminates U.S. in round 16 of the World Cup',
 "The Fed's path to a 'Goldilocks' economy just got a little more complicated",
 'Pentagon debuts its new stealth bomber, the B-21 Raider',
 "The U.S. wants the EU to be strict with China. But Europe can't afford it",
 'U.S. expects reduced tempo in Ukraine fighting to continue for months',
 "CNBC Pro Talks: Evercore's Mark Mahaney finds bargains in big tech and answers your questions",
 'Tech layoffs send visa holders on frantic search for employment to avoid deportation',
 'Parking lots are becoming as important as cars in climate change efforts']

In [38]:
print(len(news))

20

8. Web-Scraping download articles from AI in 90

Send get request to the Webpage server get to the source code of webpage.

In [39]:
page = requests.get('https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles')

Pgae content

In [40]:
soup8 = BeautifulSoup(page.content)

In [41]:
# Scraping the paper title..

title = []
for i in soup8.find_all('h2', class_ = "sc-1qrq3sd-1 gRGSUS sc-1nmom32-0 sc-1nmom32-1 btcbYu goSKRg"):
    title.append(i.text)

In [42]:
# Scraping the Authors...

name = []

for i in soup8.find_all('span' , class_ = "sc-1w3fpd7-0 dnCnAO"):
    name.append(i.text)

In [43]:
# Scraping the published Date...

date = []

for i in soup8.find_all('span', class_ = "sc-1thf9ly-2 dvggWt"):
    date.append(i.text)

In [44]:
 # Making DataFrame...
    
import pandas as pd
df = pd.DataFrame({'Paper title': title, 'Authors': name, 'Published Date': date})
df

,Paper title,Authors,Published Date
0,Reward is enough,"Silver, David, Singh, Satinder, Precup, Doina,...",October 2021
1,Making sense of raw input,"Evans, Richard, Bošnjak, Matko and 5 more",October 2021
2,Law and logic: A review from an argumentation ...,"Prakken, Henry, Sartor, Giovanni",October 2015
3,Creativity and artificial intelligence,"Boden, Margaret A.",August 1998
4,Artificial cognition for social human–robot in...,"Lemaignan, Séverin, Warnier, Mathieu and 3 more",June 2017
5,Explanation in artificial intelligence: Insigh...,"Miller, Tim",February 2019
6,Making sense of sensory input,"Evans, Richard, Hernández-Orallo, José and 3 more",April 2021
7,Conflict-based search for optimal multi-agent ...,"Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...",February 2015
8,Between MDPs and semi-MDPs: A framework for te...,"Sutton, Richard S., Precup, Doina, Singh, Sati...",August 1999
9,The Hanabi challenge: A new frontier for AI re...,"Bard, Nolan, Foerster, Jakob N. and 13 more",March 2020
10,Evaluating XAI: A comparison of rule-based and...,"van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...",February 2021
11,Argumentation in artificial intelligence,"Bench-Capon, T.J.M., Dunne, Paul E.",October 2007
12,Algorithms for computing strategies in two-pla...,"Bošanský, Branislav, Lisý, Viliam and 3 more",August 2016
13,Multiple object tracking: A literature review,"Luo, Wenhan, Xing, Junliang and 4 more",April 2021
14,Selection of relevant features and examples in...,"Blum, Avrim L., Langley, Pat",December 1997
15,A survey of inverse reinforcement learning: Ch...,"Arora, Saurabh, Doshi, Prashant",August 2021
16,Explaining individual predictions when feature...,"Aas, Kjersti, Jullum, Martin, Løland, Anders",September 2021
17,A review of possible effects of cognitive bias...,"Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Joha...",June 2021
18,Integrating social power into the decision-mak...,"Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.",December 2016
19,“That's (not) the output I expected!” On the r...,"Riveiro, Maria, Thill, Serge",September 2021
20,Explaining black-box classifiers using post-ho...,"Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...",May 2021
21,Algorithm runtime prediction: Methods & evalua...,"Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...",January 2014
22,Wrappers for feature subset selection,"Kohavi, Ron, John, George H.",December 1997
23,Commonsense visual sensemaking for autonomous ...,"Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...",October 2021
24,"Quantum computation, quantum theory and AI","Ying, Mingsheng",February 2010

9. web Scraping form dineout.co.in

Send get request to the webpage server to get the source of the page

In [45]:
page = requests.get('https://www.dineout.co.in/delhi-restaurants/buffet-special')

Page content

In [46]:
soup9 = BeautifulSoup(page.content)

Scraping Restaurants Name

In [47]:
# Scraping Restaurants

name = []

for i in soup9.find_all('a', class_= "restnt-name ellipsis"):
    name.append(i.text)

In [48]:
# Scraping the location..

loc = []

for i in soup9.find_all('div',class_ = "restnt-loc ellipsis"):
    loc.append(i.text)

In [49]:
# scraping the ratings...

images = []

for i in soup9.find_all('img', class_ = "no-img"):
    images.append(i.get('data-src'))

In [50]:
# scraping the rating...

rating = []

for i in soup9.find_all('div', class_ = "restnt-rating rating-4"):
    rating.append(i.text)

In [51]:
# Making DataFrame....

import pandas as pd
df = pd.DataFrame({'Restaurant Name': name, 'Loction':loc, 'Images': images, 'Rating': rating})
df

,Restaurant Name,Loction,Images,Rating
0,Castle Barbeque,"Connaught Place, Central Delhi",https://im1.dineout.co.in/images/uploads/resta...,4.1
1,Jungle Jamboree,"3CS Mall,Lajpat Nagar - 3, South Delhi",https://im1.dineout.co.in/images/uploads/resta...,3.9
2,Castle Barbeque,"Pacific Mall,Tagore Garden, West Delhi",https://im1.dineout.co.in/images/uploads/resta...,3.9
3,Cafe Knosh,"The Leela Ambience Convention Hotel,Shahdara, ...",https://im1.dineout.co.in/images/uploads/resta...,4.3
4,The Barbeque Company,"Gardens Galleria,Sector 38A, Noida",https://im1.dineout.co.in/images/uploads/resta...,4
5,India Grill,"Hilton Garden Inn,Saket, South Delhi",https://im1.dineout.co.in/images/uploads/resta...,3.9
6,Delhi Barbeque,"Taurus Sarovar Portico,Mahipalpur, South Delhi",https://im1.dineout.co.in/images/uploads/resta...,3.6
7,The Monarch - Bar Be Que Village,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad",https://im1.dineout.co.in/images/uploads/resta...,3.8
8,Indian Grill Room,"Suncity Business Tower,Golf Course Road, Gurgaon",https://im1.dineout.co.in/images/uploads/resta...,4.3

10. Web- Scraping the details for top publication

Send get requests to the webpage server get the source code of the page.

In [52]:
page = requests.get('https://scholar.google.com/citations?view_op=top_venues&hl=en')

In [53]:
# page content...

soup10 = BeautifulSoup(page.content)

In [54]:
# Scraping the Publication..

publication = []

for i in soup10.find_all('td', class_ = "gsc_mvt_t"):
    publication.append(i.text)

In [55]:
# Scraping h5- index....

index = []

for i in soup10.find_all('td', class_ ="gsc_mvt_n"):
    index.append(i.text)

In [56]:
# Scraping h5- median....

median = []

for i in soup10.find_all('span', class_ ="gs_ibl gsc_mp_anchor"):
    median.append(i.text)